<!DOCTYPE html>
<html>
  <head>
    <title>Complete!</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <div >
      <h1> Complete! </h1>
      <p>
        Download complete!
        Open Plex to view media
      </p>
      <a href='/'>Return home</a>
    </div>
  </body>
  
</html>
