<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <header>
      <h1>Error has occured</h1>
      <h2><a href='/'>Try again</a></h2>
      <p><%= error %></p>
    </header>
  </body>
</html>
