<!DOCTYPE html>
<html>
<head>
    <title>Progress</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
    <div class='progress-container'>
    <h1>Now downloading</h1>
    <p><%= name %></p> 

        <div id="progress-bar" style="width: 0%; height: 20px; background-color: #007bff;"></div>
    </div>
    <script type="text/javascript">
        // Assuming 'magnetLink' is a global JavaScript variable set from the query parameter.
        const magnetLink = new URLSearchParams(window.location.search).get('magnetLink');
        const name = new URLSearchParams(window.location.search).get('name');

        function updateProgress() {
            fetch(`/progress?magnetLink=${encodeURIComponent(magnetLink)}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json(); // or `response.text()` if your server sends plain text
                })
                .then(data => {
                    const progress = data.percentageComplete;
                    document.getElementById('progress-bar').style.width = progress + '%';

                    if (progress < 100) {
                        setTimeout(updateProgress, 2000); 
                    }
                    else {
                      window.location.href = `/complete?magnetLink=${magnetLink}`; 
                    }
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        }

        updateProgress();
    </script>
</body>
</html>

